body {
    margin: 5vh 5vw 5vh 5vw;
    padding: 0px;
    font-size: 100%;
    font-family: 'Mali', cursive;
}

.wrapper {
    display: grid;
    grid-template: 5vh 80vh 5vh / 1fr 40fr 2fr 10fr;
    height: 90vh;
    width: 100%;
}

.header {
    grid-row: 1;
    grid-column: 1/5;
}

.title {
    grid-row: 2;
    grid-column: 1;
}

.menu {
    grid-row: 2;
    grid-column: 3;
}

.preview {
    grid-row: 2;
    grid-column: 2;
}

.menu-tab {
    grid-row: 2;
    grid-column: 4;
}

.footer {
    grid-row: 3;
    grid-column: 1/5;
}