body {
    margin: 0px;
    padding: 5vh 5vw 5vh 5vw; 
}
.header {
    grid-row: 1;
    grid-column: 1/5;
}
.title {
    grid-row: 2;
    grid-column: 1;
    transform: rotate(180deg);
}
.menu {
    grid-row: 2;
    grid-column: 3;
}
.preview  {
    grid-row: 2;
    grid-column: 2; 
}
.tab {
    grid-row: 2;
    grid-column: 4; 
    
}
.footer{
    grid-row: 3;
    grid-column: 1/5;
}
.wrapper {
    display: grid;
    grid-template: 5vh 80vh 5vh  / 50px 20fr 1fr 4fr;
    height: 90vh;
    width: 100%;
    position:relative;
}
.header>img {
    z-index: 80;
    position:relative;
    width: 125px;
    height: auto;
}

