body {
    background-image: radial-gradient( 
        rgba(90, 12, 12, 0.774),
        rgb(167, 162, 135),
        rgba(65, 22, 18, 0.856)
        );
}

.wrapper {
    background-image: radial-gradient(  
        #C7D59F,
        rgb(187, 179, 118), 
        rgb(211, 198, 104), 
        rgb(224, 240, 182)
        );
    border-radius: 10%;
}

.title{
   background-image: linear-gradient( to right, rgb(226, 175, 34),rgb(230, 222, 111), rgb(70, 7, 17));    
   border-radius: 12px;
}

.header, .footer{
    background-color: rgb(230, 211, 103);
    border-radius: 12px;
    border-style: outset;
    border-color:rgba(104, 16, 16, 0.938);
}

.menu {
    background-color: rgb(230, 211, 103);
    border-left: outset;
    border-right: 2px solid;
    border-color:rgba(104, 16, 16, 0.938);
}

.tab{
    background-image: linear-gradient(  to bottom right,
    rgba(104, 16, 16, 0.938),
        rgb(187, 179, 118), 
        rgb(211, 198, 104), 
        rgba(104, 16, 16, 0.938)
        );
    border: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-right: outset;
    border-color:rgba(104, 16, 16, 0.938);
}
.progress-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.filled-bar {
    background-color: rgba(104, 16, 16, 0.938);
    border-radius: 5px;
}

.controls i {
    color: rgb(23, 27, 12);
}