@import "base-components.css";
@import "header-design.css";
@import "title-design.css";
@import "menu-design.css";
@import "menu-tab-design.css";
@import "preview-design.css";


body {
    background-image: radial-gradient( 
        rgba(90, 12, 12, 0.774),
        rgb(167, 162, 135),
        rgba(65, 22, 18, 0.856)
        );
}

.wrapper {
    background-image: radial-gradient(  
        #C7D59F,
        rgb(187, 179, 118), 
        rgb(211, 198, 104), 
        rgb(224, 240, 182)
        );
    border-radius: 10%;
}

.title{
   border-radius: 12px;
   background-color: rgb(230, 211, 103);
   border: 2px solid;
   border-color:rgba(104, 16, 16, 0.938);
}

.header, .footer{
    background-color: rgb(230, 211, 103);
    border-radius: 12px;
    border-style: outset;
    border-color:rgba(104, 16, 16, 0.938);
}

.menu {
    background-color: rgb(230, 211, 103);
    border-left: outset;
    border-right: 2px solid;
    border-color:rgba(104, 16, 16, 0.938);
}

.menu-tab{
    background-image: linear-gradient(  to bottom right,
        rgba(104, 16, 16, 0.938),
        rgb(187, 179, 118), 
        rgb(211, 198, 104), 
        rgba(104, 16, 16, 0.938)
        );
    border: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-right: outset;
    border-color:rgba(104, 16, 16, 0.938);
}
