@media (min-width: 568px) and (max-width: 850px) and (orientation: landscape){
 
    .title>h1{
     font-size:1.5vw;
     font-family: Arial, Helvetica, sans-serif;
     text-shadow: none;
  }
  .controls i {
    color: rgb(110, 8, 8);
    font-size: small;
    margin: 0.1vh 0.2vw;
}
.controls{
    padding:  0.5vh 0.5vw;
   align-items: center;
}
.progress-bar{                                                             
    height: 1vh; 
}
.footer .instructions{
    display:none;
}
.footer .links  {
    display:none;
}
.header>p {
    display:none;
}
.menu button i {
    font-size: 2vw;
}
#logo-wrapper{
    width: 5vw;
}

}