.create-object> button{
    background-color: rgb(143, 52, 36);
    color:rgb(233, 213, 206);
    padding: 4px 5px;
    font-size:1.2vw;
    border: 1px solid black;
    display: inline-block;
    border-radius:8px;
    margin-top: 30%;
    margin-left: 25%;
    text-align: center;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
}
.buttons>button:hover{
    background-color: rgb(230, 227, 105); 
    color: black; 
}

.first-border{
    border: 2px inset rgb(112, 53, 53);
    padding-left: 18%;
    padding-right:10%;
    padding-top: 5%;
    padding-bottom:5%;
    margin-top:20%;
    margin-left:10%;
    margin-right:10%;
}
.first-border>img {
    width: 90%;
    cursor:pointer;
}
.second-border{
    border: 2px inset rgb(112, 53, 53);
    padding-left: 18%;
    padding-right:10%;
    padding-top: 5%;
    padding-bottom:5%;
    margin-top:15%;
    margin-left:10%;
    margin-right:10%;
}
.second-border>img {
    width: 90%;
    cursor:pointer;
}
