.menu {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr;
}
.menu span {
    width: 95%;
    margin: 5%;
    text-align: center;
    padding-top: 2vw;
}
.menu i {
    background-image: linear-gradient(to left,rgb(129, 18, 18),yellow);
    background-blend-mode: darken;
    color: #111111;
    font-size: 1.6vw;
    padding: 0.4vw;
    border: solid;
    border-color: rgba(0, 0, 0, 0.815);
    border: 1px;
    border-radius: 5px;
    box-shadow: -2px -2px rgba(0, 0, 0, 0.452);
    cursor: pointer;
}
