@import "menu-tab-create-object.css";
@import "menu-tab-create-layer.css";
@import "menu-tab-edit-object.css";
@import "menu-tab-edit-animation.css";

.menu-tab {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.8vw;
}

::-webkit-scrollbar-track {
    border-radius: 12px;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(202, 189, 5, 0.431); 
    border-radius: 12px;
    border: 1px solid;
} 

::-webkit-scrollbar-thumb:hover {
    background: #704318; 
}
