.menu {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr;
}

.menu button {
    width: 100%;
    text-align: center;
    background-color: rgba(250, 235, 215, 0);
    border: none;
}

.menu button:focus {
    outline: none;
}

.menu button i {
    background-image: linear-gradient(to left, rgb(129, 18, 18), yellow);
    color: #111111;
    font-size: 1.6vw;
    padding: 0.4vw;
    border: solid;
    border-color: rgba(0, 0, 0, 0.815);
    border: 1px;
    border-radius: 7px;
    box-shadow: -2px -2px rgba(0, 0, 0, 0.452);
    cursor: pointer;
}

.menu .selected>i {
    background-image: linear-gradient(to right, rgb(129, 18, 18), yellow);
    box-shadow: -4px -4px rgba(134, 5, 5, 0.801);
}

.menu .selected .tooltip-create, .menu .layer .tooltip-layer, .menu .object .tooltip-object, .menu .animate .tooltip-animate, .menu .export .tooltip-export {
    visibility: hidden;
    width: 10vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(92, 35, 31);
    color: rgb(250, 248, 186);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    opacity: 0.8;
    position: absolute;
    transition: opacity 1s;
    z-index: 1;
    font-size: 1vw;
}

.menu .selected:hover .tooltip-create, .menu .layer:hover .tooltip-layer, .menu .object:hover .tooltip-object, .menu .animate:hover .tooltip-animate, .menu .export:hover .tooltip-export {
    visibility: visible;
}