.animation-properties>h2 {
  font-size: 1.6vw;
  color: rgb(70, 8, 8);
  text-align: center;
  margin: 10% 0%;
}

.animation-properties>p {
  font-size: 1.3vw;
  margin: 12% 7%;
}

.animation-properties label {
  font-size: 1.1vw;
  cursor: pointer;
  display: block;
}

.animation-properties input[type='radio'] {
  visibility: hidden;
  margin: 0%;
  margin-left: 9%;
}

.animation-properties input[type='radio']:after {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 0.5vw;
  position: relative;
  background-color: #ffee00;
  content: '';
  display: block;
  visibility: visible;
  border: 1px outset rgb(133, 0, 0);
  cursor: pointer;
}

.animation-properties input[type='radio']:checked:after {
  background-color: #c9442d;
  border: 2px solid rgb(245, 234, 78);
}

.animation-properties>button {
  background-color: rgb(177, 73, 47);
  color: rgb(245, 227, 220);
  padding: 0.4vw;
  font-size: 1.1vw;
  width: 50%;
  border: 1px solid black;
  margin: 5% 25%;
  border-radius: 1vw;
  cursor: pointer;
  outline: none;
}

.animation-properties>button:hover {
  background-color: rgb(230, 227, 105);
  color: black;
}

.animation-properties>button:focus {
  outline: none;
}

.rotation {
  display: inline-grid;
  grid-gap: 1vw;
  grid-template-columns: auto auto auto;
  cursor: pointer;
  margin-left: 30%;
}

.rotation-item {
  background-color: rgb(231, 150, 43);
  border: 0.1vw inset brown;
  padding: 0.4vw;
}

.rotation-item:hover {
  background-color: rgb(219, 17, 17);
  border: 0.1vw outset rgb(163, 165, 42);
  padding: 0.1vw;
}

.animation-properties input[type="number"] {
  border: none;
  border-bottom: 1px solid red;
  outline: none;
  padding: 0% 2%;
  font-size: 1vw;
  height: 1.3vw;
  width: 3.2vw;
  border-radius: 0.4vw;
  background-color: rgb(228, 222, 141);
}

.animation-properties input[type="number"]:focus {
  border-bottom: 2px solid rgb(80, 2, 2);
}