.object-properties {
    text-align: center;
}

.object-properties>h2 {
    font-size: 1.4vw;
    color: rgb(70, 8, 8);
    text-align: center;
    margin: 9% 5%;
}

.object-properties>p {
    font-size: 1vw;
    margin: 4% 2%;
    display: inline-block;
}

.object-properties i {
    font-size: 1vw;
    cursor: pointer;
    margin: 5% 4%;
}

.object-properties input[type="number"] {
    border: 0px;
    border-bottom: 1px solid red;
    outline: none;
    height: 1.4vw;
    width: 3.8vw;
    font-size: 1vw;
    text-align: center;
    border-radius: 1vw;
    background-color: rgb(228, 222, 141);
    margin-top: 10%;
}

.object-properties input[type="number"]:focus {
    font-size: 1vw;
    border-bottom: 2px solid rgb(80, 2, 2);
}

.object-properties input[type="color"] {
    height: 1.8vw;
    margin: 0px;
    padding: 0px;
    outline: none;
    width: 6vw;
    border-radius: 1vh;
    background-color: rgb(219, 213, 94);
    border-color: rgba(29, 7, 7, 0.582);
    cursor: pointer;
}

.object-properties input[type="range"] {
    cursor: pointer;
    width: auto;
}

.object-properties .left .tooltip-left, .object-properties .right .tooltip-right, .object-properties .up .tooltip-up, .object-properties .down .tooltip-down, .object-properties .in .tooltip-in, .object-properties .rotate .tooltip-rotate {
    visibility: hidden;
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(92, 35, 31);
    color: rgb(250, 248, 186);
    text-align: center;
    white-space: pre-wrap;
    border-radius: 1vw;
    padding: 0.3vw;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
}

.object-properties .left:hover .tooltip-left, .object-properties .right:hover .tooltip-right, .object-properties .up:hover .tooltip-up, .object-properties .down:hover .tooltip-down, .object-properties .in:hover .tooltip-in, .object-properties .rotate:hover .tooltip-rotate {
    visibility: visible;
}