.animation-properties>h2{
  font-size: 1.4vw;
  color: rgb(70, 8, 8);
  text-align: center;
  margin:0%;
  margin-top:15%;
}
.animation-properties> button{
  background-color: rgb(177, 73, 47);
  color:rgb(233, 213, 206);
  padding: 4px 5px;
  font-size:1.2vw;
  border: 1px solid black;
  margin-left: 5%;
  border-radius:8px;
  cursor:pointer;
  outline:none;
  font-family:Arial, Helvetica, sans-serif;
}
.animation-properties>button:hover{
  background-color: rgb(230, 227, 105); 
  color: black; 
  border: 2px solid rgb(48, 3, 38);
  font-family:"Open Sans";
}
.rotation{
    display:inline-grid;
    grid-gap: 5px 8px;
    grid-template-columns: auto auto auto;
    cursor:pointer;
    margin: 0%;
    margin-left:30%;
  }
  .rotation-item{
    background-color:rgb(231, 150, 43);
    border: 1.2px inset brown;
    padding: 4px; 
  }
  .rotation-item:hover{
    background-color:rgb(219, 17, 17);
    border: 1.2px outset rgb(163, 165, 42);
    padding: 2px; 
}
.animation-properties input[type="number"] {
  border:none;
border-bottom: 1px solid red;
outline:none;
  height:15px;
  width: 50px;
  border-radius: 4px;
  background-color: rgb(228, 222, 141);
}