.object-properties {
    text-align: center;
}
.object-properties>h2{
    font-size: 1.4vw;
    color: rgb(70, 8, 8);
    text-align: center;
    margin:0%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.object-properties>p{
    font-size: 1.2vw;
    margin:0%;
    margin-left: 7%;
    margin-bottom: 6%;
    
}
.object-properties>.Y{
    margin-left: 36.5%;
}
.object-properties>.translate-y{
    margin-left: 53%;  
}
.object-properties>.position-y{
    margin-left: 46%;  
}
.object-properties  i{
    font-size: 1.3vw;
    margin-bottom: 5%;
    cursor: pointer;
    margin-left: 7%;
    margin-top:3%;
   
}
.object-properties input[type="number"] {
    border:none;
	border-bottom: 1px solid red;
	outline:none;
    height:1.2vw;
    width: 4vw;
    border-radius: 4px;
    background-color: rgb(228, 222, 141);
}
.object-properties input[type="number"]:focus
{
	border-bottom: 2px solid rgb(80, 2, 2);

}
.object-properties input[type="color"] {
    border:none;
	border-bottom: 1px dotted red;
	outline:none;
    height:1.2vw;
    width: 3vw;
    border-radius: 1px;
    background-color: rgb(228, 225, 187);
    cursor: pointer;
}
.object-properties input[type="range"] {
    cursor:pointer;
    width: 10vw;
}

 .object-properties .left .tooltip-left,
 .object-properties .right .tooltip-right,
 .object-properties .up .tooltip-up,
 .object-properties .down .tooltip-down,
 .object-properties .in .tooltip-in {
    visibility: hidden;
    width: 6.5vw; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(92, 35, 31);
    color: rgb(250, 248, 186);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    opacity: 0.8;
    position: absolute;
    transition: opacity 1s;
    z-index: 1; 
}
.object-properties .left:hover .tooltip-left,
.object-properties .right:hover .tooltip-right,
.object-properties .up:hover .tooltip-up,
.object-properties .down:hover .tooltip-down,
.object-properties .in:hover .tooltip-in {
    visibility: visible;
}