.create-layer {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 3vh;
    padding: 2vh 1vw;
}
.create-layer .layer {
    background-image: radial-gradient(  
        #C7D59F,
        rgb(187, 179, 118), 
        rgb(211, 198, 104)
        );
    border: 2px solid;
    cursor: pointer;
}
.create-layer .layer img {
    width: 7vw;
    position: relative;
    left: 45px;
}

.create-layer .current {
    box-shadow: 4px 4px rgba(231, 218, 32, 0.712);
}

.create-layer button{
    font-size: 1.3vw;
}

.create-layer button i{
    font-size: 3vw;
    display: block;
    color: rgba(160, 151, 28, 0.911);
}