.object-properties>h2{
    font-size: 1.4vw;
    color: rgb(70, 8, 8);
    text-align: center;
    margin:0%;
    margin-top:15%;
}
.object-properties>p{
    font-size: 1.2vw;
    margin:0%;
    margin-left: 7%;
    
}
.object-properties>.Y{
    margin-left: 36.5%;
}
.object-properties>#translate-y{
    margin-left: 53%;  
}
.object-properties>#position-y{
    margin-left: 46%;  
}
.object-properties  i{
    font-size: 1.3vw;
    margin-bottom: 5%;
    cursor: pointer;
    margin-left: 7%;
    margin-top:3%;
   
}

 .object-properties input[type="number"] {
    border:none;
	border-bottom: 1px solid red;
	outline:none;
    height:15px;
    width: 40px;
    border-radius: 4px;
    background-color: rgb(228, 222, 141);
}
.object-properties input[type="color"] {
    border:none;
	border-bottom: 1px solid red;
	outline:none;
    height:15px;
    width: 40px;
    border-radius: 1px;
    background-color: rgb(228, 225, 187);
}
.object-properties input[type="range"] {
    cursor:pointer;
}

