.preview {
    display: grid;
    grid-template: 75vh 5vh  / 1fr;
    position:relative;
}
.controls {
    grid-row: 2;
    display: grid;
    padding: 1vh 1vw;
    border-top: 1px solid;
    grid-template: 5vh / 2vw 2vw 2vw 1fr 2vw;
    text-align: center;
}

.progress-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    display: grid;
    grid-template: 1fr / repeat(100,1fr);
    height: 2vh;
    margin: 0.5vh 1vw;
    cursor: pointer;
}

.filled-bar {
    background-color: rgba(104, 16, 16, 0.938);
    border-radius: 5px;
    grid-column: 1/9;
    height: auto;
}

.controls i {
    color: rgb(15, 15, 14);
    margin: 0.2vh 0.3vw;
    font-size: large;
    cursor: pointer;
}

.monitor {
    grid-row: 1;
    position: relative;
}

#logo-wrapper {
    z-index: 90;
    width: 8vw;
    position: absolute;
    left: -1vw;
    display: block;
    cursor: pointer;
}

.object-wrapper {
    padding: 0vh 2vw;
    position: absolute;
    z-index: 91;
    top: 15vh;
    left: 10vw;
    text-align: center;
}
.object-wrapper>i {
    font-size: 8vw;
    cursor: pointer;
    color: blue;
    position: relative;
}
