.preview {
    display: grid;
    grid-template: 93% 7%  / 1fr;
    position:relative;
}

#logo-wrapper {
    z-index: 90;
    width: 8vw;
    position: relative;
    left: -1vw;
}

.controls {
    grid-row: 2;
    display: grid;
    padding: 1% 0% 1% 1%;
    border-top: solid;
    border-top-width: 1px;
    grid-template: 1fr / 4% 4% 4% 1fr 4%;
    text-align: center;
}

.progress-bar {
    width: 1fr;
    display: grid;
    margin-top: 3px;
    height: 10px;
}

.filled-bar {
    width: 60%;
    height: auto;
}

.controls i {
    font-size: 90%;
    cursor: pointer;
}

