body {
    background-image: linear-gradient( rgba(155, 170, 18, 0.849), rgb(19, 102, 23));  
}
.preview {
    background-color:rgb(237, 243, 152);
    border-style: outset;
}
.title{
    background-image: linear-gradient( to right, rgb(226, 175, 34),rgb(230, 222, 111), rgb(70, 7, 17));    
   border: 6px, solid rgb(12, 12, 12);
   border-radius: 12px;
  
}

   .header, .menu, .footer{
    background-color: rgb(230, 211, 103);
    border-radius: 12px;
    border-style: outset;
    border-color:rgb(63, 63, 95);
   
   }
 .tab{
    background-image: linear-gradient( to right, rgb(219, 130, 89),rgb(219, 76, 33), rgb(105, 10, 26));    
    border-radius: 12px;
    border-style: outset;
    border-color:rgb(70, 70, 114);
   
}


